<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>User Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/login" method="post">
            <p><label>Username: <input type="text" name="username" required></label></p>
            <p><label>Password: <input type="password" name="password" required></label></p>
            <p><input type="submit" value="Login"></p>
        </form>
        <p><a href="/signup">Sign Up</a></p>
        <p><a href="/">Back</a></p>
    </div> 
</body>