<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Main</h2>

        <p>Welcome, {{ username }}!</p>
        <p>Your Meter ID: {{ meter_id }}</p>

        <form action="/balance" method="post">
            <p><input type="submit" value="Balance / Top-up"></p>
        </form>
        <form action="/user_meter" method="get">
            <p><input type="submit" value="Meter Reading"></p>
        </form>
        <form action="/user_usage" method="get">
            <p><input type="submit" value="Electricity Usage"></p>
        </form>
        <form action="/logout" method="post">
            <p><input type="submit" value="Log Out"></p>
        </form>
    </div> 
</body>