<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Electricity</h2>

        <p>Select your account type</p>

        <form action="/login" method="get">
            <p><input type="submit" value="Consumer"></p>
        </form>
        <form action="/supplier" method="get">
            <p><input type="submit" value="Supplier"></p>
        </form>
        <form action="/administrator" method="get">
            <p><input type="submit" value="Administrator"></p>
        </form>
    </div> 
</body>